[Unit]
Description=static_configuration
After=multiuser.target

[Service]
Type=simple
ExecStart=/usr/bin/static_contact

[Install]
WantedBy=multiuser.target
